body {
    margin: 0;
    font-size: 28px;
    background-image: url(images/lys.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    
  }

/* jeg fik hjælp fra w3schooles til stilingen af navbar (https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_navbar_sticky)*/
.topnav a {
    float: right;
    display: block;
    color:black;
    text-align: right;
    padding: 5px 30px;
    text-decoration: none;
    font-size: 17px;
    font-family: Gothic A1, ExtraLight;
  }

  
.topnav a:hover {
    color: black;
    text-decoration: underline;
  }
  
.topnav a.active {
    color: black;
    text-decoration: underline;
  }

  * {
    box-sizing: border-box;
  }


h4{
    padding-top: 50px;
    font-family: Gothic A1;
    font-size: 15px;
    margin: 0px;
}

h2{
    font-family:Gothic A1;
    font-size: 27px;
    margin: 0px;
}

h5{
    font-family:Gothic A1;
    font-size: 15px;
    margin: 0px;
}

p{
    font-family: Charter;
    font-size: 15px;
}

h4,h2,h5,p{
    margin-left: 12px;
}



.portrat{
    margin: 12px;
    margin-top: 50px;
}


.kontakt{
    background-color:#F5F2EC;
    font-family: Gothic A1;
    font-size: 20px;
    text-align: center;
}


/*nedenstående er lave med hjælp fra w3schools (https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_mixed_columns)*/
* {
  box-sizing: border-box;
}

/* Create four equal columns that floats next to each other */
.column {
  float: left;
  width: 25%;
  padding: 10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
  .column  {
    width: 100%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column  {
    width: 100%;
  }
}

* {
  box-sizing: border-box;
}

/* Create four equal columns that floats next to each other */
.column {
  float: left;
  width: 25%;
  padding: 10px;
}

/* Clear floats after the columns */
.row:after {
  display: table;
  clear: both;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
  .column  {
    width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column  {
    width: 100%;
  }
}