body {
    margin: 0;
    font-size: 28px;
    background-image: url(images/lys.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;  
  }

  .header{
    padding: 10px;
    padding-bottom: 0px;
    text-align: center;
}

.logo{
    margin: 0px;
    text-align: center;
}


.topnav{
    font-family: Gothic A1, ExtraLight;
    margin-bottom: 0;
    margin-top: 11px;
    /*margin-left: opx;*/
    width: 150px;
    text-align: center;
}

.nav{
    text-align: center;
}


/* jeg fik hjælp fra w3schooles til stylingen af navbar (https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_navbar_sticky)*/
.topnav a {
    color:black;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    font-size: 17px;
    font-family: Gothic A1, ExtraLight;
  }

ul{
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    text-align: center;

  }

  
.topnav a:hover {
    color: black;
    text-decoration: underline;
  }
  
.topnav a.active {
    color: black;
    text-decoration: underline;
  }

  * {
    box-sizing: border-box;
  }


.portrat{
    margin: 12px;
    margin-top: 50px;
}


.kontakt{
    background-color:#F5F2EC;
    font-family: Gothic A1;
    font-size: 20px;
    text-align: center;
}

h2{
    margin: 0px;
    font-family:Gothic A1;
    font-size: 30px;
    margin-left: 10px;
    }
    
h3{
    margin: 0px;
    font-family: Gothic A1;
    font-size: 20px;
    margin-left:10px;
    }

p{
    margin: 0px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    margin-left:10px;
    margin-top: 5px; 
}

footer{
    display: block;
    background-color: #EFE5DC;
}


/*dette er stylinen til side 2 (projekter)*/



* {
    box-sizing: border-box;
  }
  
  body {
    padding: 20px;
    font-family: Gothic A1, ExtraLight;
  }
  
  /* Center website */
  .main {
    max-width: 1000px;
    margin: auto;
  }
  
  h1 {
    font-size: 50px;
    word-break: break-all;
  }
  
  .row {
    margin: 8px -16px;
  }
  
  /* Add padding BETWEEN each column */
  /* dette laver mellemrum mellem boksene*/
  .row, 
  .row > .column {
    padding: 8px;
  }
  
  /* Create four equal columns that floats next to each other */
 /* får boksene til at floate ved siden af hinanden*/

  .column {
    float: left;
    width: 25%;
  }
  
  /* Clear floats after rows */ 
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Content */
  .content {
    background-color: #fdfffd;
    padding: 10px;
    border-radius: 1px;
    border-color: #fdfffd;
    border-style: solid;
    font-family: 'Times New Roman', Times, serif;

  }

  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 900px) {
    .column {
      width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }

/*her stopper stylinen til side 2 (projekter)*/


/*nedenstående er lave med hjælp fra w3schools (https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_mixed_columns)*/
* {
  box-sizing: border-box;
}

/* Create four equal columns that floats next to each other */
.column {
  float: left;
  width: 25%;
  padding: 10px;
  margin-top: px;
}

.column2{
    float: right;
    margin-right: 10px;
}


/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
  .column  {
    width: 100%;
    float: left;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column  {
    width: 100%;
  }
}

* {
  box-sizing: border-box;
}

/* Create four equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
}


/* Clear floats after the columns */
.row:after {
  display: table;
  clear: both;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
  .column  {
    width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column  {
    width: 100%;
  }
}